:root {
  --primary: #06d6a0;
  --secondry: #118ab2;
}

.container {
  background-color: var(--primary);
  padding: 1rem;
  font-family: Poppins;
  color: #fff;
  text-align: center;
}

.footer__title {
  font-weight: 600;
  margin-bottom: 1rem;
}
